@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0px;
	font-family: roboto, helvetica, arial;
}

/*Details logo*/
.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	padding: 10px;
}

.grid-container > div {
	padding: 20px 10px;
	background-color: #f1f1f1
}

/*header content + foto's*/
.dave-link {
	grid-area: dave ;
}
.ploy-link {
	grid-area: ploy;
}
.tim-link {
	grid-area: tim;
}
.wendy-link {
	grid-area: wendy;
}

.frontpage {
	display: flex;
	text-align: center;
}

.frontpage a img {
	width: 100%;
	height: auto;
}

header a:hover .image-dave, header a:hover .image-ploy, header a:hover .image-tim, header a:hover .image-wendy {
	opacity: 0.1;
}
.dave-link:hover .hover-text-dave, .ploy-link:hover .hover-text-ploy, .tim-link:hover .hover-text-tim, .wendy-link:hover .hover-text-wendy {
	opacity: 1;
}
/*.dave-link:hover, .ploy-link:hover, .tim-link:hover, .wendy-link:hover  {
	opacity: 1;
}*/
.frontpage a {
	  background: #3561FF;
	  /*height: 990px;*/
}
.hover-text-dave, .hover-text-ploy, .hover-text-tim, .hover-text-wendy  {
	position: absolute;
	transition: 0.5s ease;
	opacity: 0;
	transform: translate(-50%, -50%);
  	text-align: center;
  	
}
.hover-text-dave {
	width: 20%;
	top: 50%;
	left: 12%;
}
.hover-text-ploy {
	width: 20%;
	top: 50%;
	left: 37%;
}
.hover-text-tim {
	width: 20%;
	top: 50%;
	left: 63%;
}
.hover-text-wendy {
	width: 20%;
	top: 50%;
	left: 87%;
}
.hover-text-wendy h1{
	top: 50%;
	left: 87%;
}

header a {
	color: white;
	
}
header p {
	font-size: 20px;
}
.hover-text-dave img, .hover-text-ploy img, .hover-text-tim img, .hover-text-wendy img {
	padding: 20%;
}
.hover-text-dave p, .hover-text-ploy p, .hover-text-tim p, .hover-text-wendy p {
	padding-top:10%;
	font-weight: 300;
}
/*end header content*/

/*main content*/
.h1-about, .h1-deelnemers {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	margin-top: 0;
}
.p-about, .p-deelnemers  {
	font-weight: 300;
	font-size: 20px;
	margin: auto;
	width: 60%;
	padding: 10px;

}
.line-about, .line-deelnemers {
	box-sizing: border-box;
	width: 33%;
	margin: auto 28%;
}
.line1-about, .line1-deelnemers {
	width: 80%;
	float: left;
	border: 3px solid #3561FF;
}
.line2-about, .line2-deelnemers {
	width: 15%;
	float: right;
	border: 3px solid #3561FF;
}
/*.deelnemers {
	height: 500px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}*/
.h1-deelnemers, .p-deelnemers {
	color: white;
}
.line1-deelnemers, .line2-deelnemers {
	border: 3px solid white;
}
.ruimte-about, .ruimte-deelnemers {
	padding: 4%;
}

/*blokken*/
.blok-dave {
	grid-area: blokD;
}
.blok-ploy {
	grid-area: blokP;
}
.blok-tim {
	grid-area: blokT;
}
.blok-wendy {
	grid-area: blokW;
}
.blok-profiles {
	display: grid;
	/*grid-gap: 20px;*/
	
	/*width: 80%;*/
	height: 500px;
	margin: auto;
	grid-template-areas: 
	'blokD blokP blokT blokW'
}
.blok-profiles a {
	background-color: #3562FF;
	width: 360px;
	height: 300px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	margin: auto;
}
.blok-profiles a img {
	width: 100%;
	height: auto;
}
.blok-profiles a h2 {
	font-size: 30px;
	font-weight: bold;
}
.blok-profiles a p {
	font-size: 14px;
	font-weight: lighter;
}

.blok-profiles a h2, .blok-profiles a p {
	color: white;
}

.profiles {
	margin-top: -20%;
}

/*end main content*/








.main {
	grid-column: 1 / 5;
	height: 500px;
	text-align: center;
}

.minor {
	grid-column: 1 / 5;
	height: 200px;
}

/*Text decoration*/
h2 {
	font-size: 35px;
}

/*button blok 1 over jezelf blok 3*/

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;

}

.buttons{
	width: 340px;
	height: 50px;
	background-color: #3561FF;
	color: #fff;
	border-style: none;
	margin: 20px;
	font-size: 20px;

}
.button-white{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;

}

.buttons-white{
	width: 340px;
	height: 50px;
	background-color: #fff;
	color: #3562FF;
	border-style: none;
	margin: 20px;
	font-size: 20px;

}

/*deelnemer details hieronder*/
.deelnemers {
	grid-column: 1 / 5;
	height: 537px;
}

.persoon-een {
	text-align: center;
	height: 300px;
	grid-column: 1/2;
	min-width: 25%;
}

.persoon-twee {
	text-align: center;
	height: 300px;
	grid-column: 2/3;
	min-width: 25%;
}

#imgrow {
	position: static;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	z-index: -1;

}

.persoon-drie {
	text-align: center;
	height: 300px;
	grid-column: 3/4;
	min-width: 25%;
}

.persoon-vier {
	text-align: center;
	height: 300px;
	grid-column: 4/5;
	min-width: 25%;
}

background-image {
	height: auto;
	width: auto;
}

.persoon img {
	height: auto;
	width: 20px;
	padding: 20px 5px;
}

.persona {
	background-color: #3562FF;
	color: white;
	text-decoration: none;
	text-align: center;
	border: none;
	margin: 20px 2px;
	padding: 15px;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;

}

/*Footer details*/
/*.footer {
	background-color: #3562FF;
	position: relative;
	height: 100px;
	clear: both;

}
.footer p {
	padding: 20px 40px;

}

.footer a {
	padding-left: 30px;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;

}*/


/*footer*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

/*end footer*/


@media only screen and (max-width: 768px) {
	body{
		width: 70%;
	}
	h1{
		color: red;
	}
	h2{
		font-weight: bold;
		font-size: 30px;
		font-family: roboto;
		color: #ffffff;
	}
}
* {
	box-sizing: border-box;
}
.dave-link {
	grid-area: dave ;
}
.ploy-link {
	grid-area: ploy;
}
.tim-link {
	grid-area: tim;
}
.wendy-link {
	grid-area: wendy;
}

.frontpage {
	display: flex;
	text-align: center;
}

.frontpage a img {
	width: 100%;
	height: auto;
}

header a:hover .image-dave, header a:hover .image-ploy, header a:hover .image-tim, header a:hover .image-wendy {
	opacity: 0.1;
}
.dave-link:hover .hover-text-dave, .ploy-link:hover .hover-text-ploy, .tim-link:hover .hover-text-tim, .wendy-link:hover .hover-text-wendy {
	opacity: 1;
}
/*.dave-link:hover, .ploy-link:hover, .tim-link:hover, .wendy-link:hover  {
	opacity: 1;
}*/
.frontpage a {
	 background: rgba(23, 23, 23, 0.7);

}
.hover-text-dave, .hover-text-ploy, .hover-text-tim, .hover-text-wendy  {
	position: absolute;
	transition: 0.5s ease;
	opacity: 0;
	transform: translate(-50%, -50%);
  	text-align: center;
  	
}
.hover-text-dave {
	top: 50%;
	left: 12%;
}
.hover-text-ploy {
	top: 50%;
	left: 37%;
}
.hover-text-tim {
	top: 50%;
	left: 63%;
}
.hover-text-wendy {
	top: 50%;
	left: 87%;
}

header a {
	color: white;
	
}
header p {
	font-size: 20px;
}
.hover-text-dave img, .hover-text-ploy img, .hover-text-tim img, .hover-text-wendy img {
	padding: 20%;
}
.hover-text-dave p, .hover-text-ploy p, .hover-text-tim p, .hover-text-wendy p {
	padding-top:10%;
	font-weight: 300;
}
/*main content*/
.h1-about, .h1-deelnemers {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	margin-top: 0;
}
.p-about, .p-deelnemers  {
	font-weight: 300;
	font-size: 20px;
	margin: auto;
	width: 60%;
	padding: 10px;

}
.line-about, .line-deelnemers {
	box-sizing: border-box;
	width: 33%;
	margin: auto 28%;
}
.line1-about, .line1-deelnemers {
	width: 80%;
	float: left;
	border: 3px solid #3561FF;
}
.line2-about, .line2-deelnemers {
	width: 15%;
	float: right;
	border: 3px solid #3561FF;
}
.deelnemers {
	height: 500px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;

}
.h1-deelnemers, .p-deelnemers {
	color: white;
}
.line1-deelnemers, .line2-deelnemers {
	border: 3px solid white;
}
.ruimte-about, .ruimte-deelnemers {
	padding: 4%;
}
footer {
	margin-top: 15%;
}

/*blokken*/
.blok-dave {
	grid-area: blokD;
}
.blok-ploy {
	grid-area: blokP;
}
.blok-tim {
	grid-area: blokT;
}
.blok-wendy {
	grid-area: blokW;
}
.blok-profiles {
	display: grid;
	/*grid-gap: 20px;*/
	
	/*width: 80%;*/
	height: 500px;
	margin: auto;
	grid-template-areas: 
	'blokD blokP blokT blokW'
}
.blok-profiles a {
	background-color: #3562FF;
	width: 360px;
	height: 300px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	margin: auto;
}
.blok-profiles a img {
	width: 100%;
	height: auto;
}

.blok-profiles a h2 {
	font-size: 30px;
	font-weight: bold;
}
.blok-profiles a p {
	font-size: 14px;
	font-weight: lighter;
}

.blok-profiles a h2, .blok-profiles a p {
	color: white;
}

.profiles {
	margin-top: -20%;
}



