@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0px;
	font-family: roboto, helvetica, arial;
}

/*Details logo*/
.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	padding: 10px;
}

.grid-container > div {
	padding: 20px 10px;
	background-color: #f1f1f1
}

/*header content + foto's*/
.dave-link {
	grid-area: dave ;
}
.ploy-link {
	grid-area: ploy;
}
.tim-link {
	grid-area: tim;
}
.wendy-link {
	grid-area: wendy;
}

.frontpage {
	display: flex;
	text-align: center;
}

.frontpage a img {
	width: 100%;
	height: auto;
}

header a:hover .image-dave, header a:hover .image-ploy, header a:hover .image-tim, header a:hover .image-wendy {
	opacity: 0.1;
}
.dave-link:hover .hover-text-dave, .ploy-link:hover .hover-text-ploy, .tim-link:hover .hover-text-tim, .wendy-link:hover .hover-text-wendy {
	opacity: 1;
}
/*.dave-link:hover, .ploy-link:hover, .tim-link:hover, .wendy-link:hover  {
	opacity: 1;
}*/
.frontpage a {
	  background: #3561FF;
	  /*height: 990px;*/
}
.hover-text-dave, .hover-text-ploy, .hover-text-tim, .hover-text-wendy  {
	position: absolute;
	transition: 0.5s ease;
	opacity: 0;
	transform: translate(-50%, -50%);
  	text-align: center;
  	
}
.hover-text-dave {
	width: 20%;
	top: 50%;
	left: 12%;
}
.hover-text-ploy {
	width: 20%;
	top: 50%;
	left: 37%;
}
.hover-text-tim {
	width: 20%;
	top: 50%;
	left: 63%;
}
.hover-text-wendy {
	width: 20%;
	top: 50%;
	left: 87%;
}
.hover-text-wendy h1{
	top: 50%;
	left: 87%;
}

header a {
	color: white;
	
}
header p {
	font-size: 20px;
}
.hover-text-dave img, .hover-text-ploy img, .hover-text-tim img, .hover-text-wendy img {
	padding: 20%;
}
.hover-text-dave p, .hover-text-ploy p, .hover-text-tim p, .hover-text-wendy p {
	padding-top:10%;
	font-weight: 300;
}
/*end header content*/

/*main content*/
.h1-about, .h1-deelnemers {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	margin-top: 0;
}
.p-about, .p-deelnemers  {
	font-weight: 300;
	font-size: 20px;
	margin: auto;
	width: 60%;
	padding: 10px;

}
.line-about, .line-deelnemers {
	box-sizing: border-box;
	width: 33%;
	margin: auto 28%;
}
.line1-about, .line1-deelnemers {
	width: 80%;
	float: left;
	border: 3px solid #3561FF;
}
.line2-about, .line2-deelnemers {
	width: 15%;
	float: right;
	border: 3px solid #3561FF;
}
/*.deelnemers {
	height: 500px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}*/
.h1-deelnemers, .p-deelnemers {
	color: white;
}
.line1-deelnemers, .line2-deelnemers {
	border: 3px solid white;
}
.ruimte-about, .ruimte-deelnemers {
	padding: 4%;
}

/*blokken*/
.blok-dave {
	grid-area: blokD;
}
.blok-ploy {
	grid-area: blokP;
}
.blok-tim {
	grid-area: blokT;
}
.blok-wendy {
	grid-area: blokW;
}
.blok-profiles {
	display: grid;
	/*grid-gap: 20px;*/
	
	/*width: 80%;*/
	height: 500px;
	margin: auto;
	grid-template-areas: 
	'blokD blokP blokT blokW'
}
.blok-profiles a {
	background-color: #3562FF;
	width: 360px;
	height: 300px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	margin: auto;
}
.blok-profiles a img {
	width: 100%;
	height: auto;
}
.blok-profiles a h2 {
	font-size: 30px;
	font-weight: bold;
}
.blok-profiles a p {
	font-size: 14px;
	font-weight: lighter;
}

.blok-profiles a h2, .blok-profiles a p {
	color: white;
}

.profiles {
	margin-top: -20%;
}

/*end main content*/








.main {
	grid-column: 1 / 5;
	height: 500px;
	text-align: center;
}

.minor {
	grid-column: 1 / 5;
	height: 200px;
}

/*Text decoration*/
h2 {
	font-size: 35px;
}

/*button blok 1 over jezelf blok 3*/

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;

}

.buttons{
	width: 340px;
	height: 50px;
	background-color: #3561FF;
	color: #FFFFFF;
	border-style: none;
	margin: 20px;
	font-size: 20px;
}

.button a :hover {
	color: #3561FF;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;



}


.buttons-white{
	width: 340px;
	height: 50px;
	background-color: #fff;
	color: #3562FF;
	border-style: none;
	margin: 20px;
	font-size: 20px;

}
.button-white a button:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	background-color: #3562FF;
    color: #FFF;
    border-style: solid;
	
}
.button-white {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;

}
.portfolio a {
	margin: auto;
}
.portfolio button a:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
.portfolio button a {
	text-decoration: none;
}
.button-white2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;

}
.button-white2 a button:hover {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	background-color: #3562FF;
    color: #FFF;
    border-style: solid;
}
.button-white2 a {
	text-decoration: none;
}
.dave button a {
	text-decoration: none;
}
#myBtn {
	width: 75px;
	height: 75px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: linear-gradient(to bottom, 
     red 20%, orange 20% 40%, yellow 40% 60%, green 60% 80%, blue 80%);
  color: #000000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px;
  font-size: 30px; /* Increase font size */
}

#myBtn:hover {
  background-color: black;
  background-image: linear-gradient(to top, black , black); 
  color: #FFFFFF;
}

/*deelnemer details hieronder*/
.deelnemers {
	grid-column: 1 / 5;
	height: 537px;
	margin-bottom: 350px;
}

.persoon-een {
	text-align: center;
	height: 300px;
	grid-column: 1/2;
	min-width: 25%;
}

.persoon-twee {
	text-align: center;
	height: 300px;
	grid-column: 2/3;
	min-width: 25%;
}

#imgrow {
	position: static;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	z-index: -1;

}

.persoon-drie {
	text-align: center;
	height: 300px;
	grid-column: 3/4;
	min-width: 25%;
}

.persoon-vier {
	text-align: center;
	height: 300px;
	grid-column: 4/5;
	min-width: 25%;
}

background-image {
	height: auto;
	width: auto;
}

.persoon img {
	height: auto;
	width: 20px;
	padding: 20px 5px;
}

.persona {
	background-color: #3562FF;
	color: white;
	text-decoration: none;
	text-align: center;
	border: none;
	margin: 20px 2px;
	padding: 15px;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;

}


.footer{
		text-decoration: none;
		color: white;
		background-color: #3562FF;
		display: grid;
		grid-gap: 20px;
		grid-template-areas: 
		'footer1 footer2 footer3 footer4 footer5';
		padding: 30px;
	}
.footer h3 a {
	color: white;
	text-decoration: none;
	}
	.footer ul li a {
	color: white;
	list-style: none;
	text-decoration: none;
	}
	.footer ul li  {
	color: white;
	list-style: none;
	text-decoration: none;
	}
	.footer ul{
		  list-style-type: none;
  			margin: 0;
  			padding: 0;
  			line-height: 32px;

	}
	.footer h3{
	margin-bottom: 20px;
	}
	.footer1{
	text-decoration: none;
	width: 250px;
	grid-area: footer1;
}
.footer2{
	width: 250px;
	grid-area: footer2;
}
.footer3{
	width: 250px;
	grid-area: footer3;
}
.footer4{
	width: 250px;
	grid-area: footer4;
}
.footer5{
	width: 250px;
	grid-area: footer5;
}
.flag{
	text-decoration: none;
	list-style: none;
}

.site-footer
{
  background-color:#26272b;
  padding: 30px 100px 30px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  height: 300px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.footer-box1, .footer-box2, .footer-box3{
	width: 325px;
	float: right;
}
/*end footer*/

* {
	box-sizing: border-box;
}
.dave-link {
	grid-area: dave ;
}
.ploy-link {
	grid-area: ploy;
}
.tim-link {
	grid-area: tim;
}
.wendy-link {
	grid-area: wendy;
}

.frontpage {
	display: flex;
	text-align: center;
}

.frontpage a img {
	width: 100%;
	height: auto;
}
.frontpage a img:hover {
	animation: shake 1s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

header a:hover .image-dave, header a:hover .image-ploy, header a:hover .image-tim, header a:hover .image-wendy {
	opacity: 0.1;
}
.dave-link:hover .hover-text-dave, .ploy-link:hover .hover-text-ploy, .tim-link:hover .hover-text-tim, .wendy-link:hover .hover-text-wendy {
	opacity: 1;
}
/*.dave-link:hover, .ploy-link:hover, .tim-link:hover, .wendy-link:hover  {
	opacity: 1;
}*/
.frontpage a {
	 background: rgba(23, 23, 23, 0.7);
	

}
.hover-text-dave, .hover-text-ploy, .hover-text-tim, .hover-text-wendy  {
	position: absolute;
	transition: 0.5s ease;
	opacity: 0;
	transform: translate(-50%, -50%);
  	text-align: center;
  	
}
.hover-text-dave {
	top: 50%;
	left: 12%;
}
.hover-text-ploy {
	top: 50%;
	left: 37%;
}
.hover-text-tim {
	top: 50%;
	left: 63%;
}
.hover-text-wendy {
	top: 50%;
	left: 87%;
}

header a {
	color: white;
	
}
header p {
	font-size: 20px;
}
.hover-text-dave img, .hover-text-ploy img, .hover-text-tim img, .hover-text-wendy img {
	padding: 20%;
}
.hover-text-dave p, .hover-text-ploy p, .hover-text-tim p, .hover-text-wendy p {
	padding-top:10%;
	font-weight: 300;
}
/*main content*/
.h1-about, .h1-deelnemers {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	margin-top: 0;
}
.p-about, .p-deelnemers  {
	font-weight: 300;
	font-size: 20px;
	margin: auto;
	width: 60%;
	padding: 10px;

}
.line-about, .line-deelnemers {
	box-sizing: border-box;
	width: 33%;
	margin: auto 28%;
}
.line1-about, .line1-deelnemers {
	width: 80%;
	float: left;
	border: 3px solid #3561FF;
}
.line2-about, .line2-deelnemers {
	width: 15%;
	float: right;
	border: 3px solid #3561FF;
}
.deelnemers {
	height: 500px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;

}
.h1-deelnemers, .p-deelnemers {
	color: white;
}
.line1-deelnemers, .line2-deelnemers {
	border: 3px solid white;
}
.ruimte-about, .ruimte-deelnemers {
	padding: 4%;
}

/*blokken*/
.blok-dave {
	grid-area: blokD;
}
.blok-ploy {
	grid-area: blokP;
}
.blok-tim {
	grid-area: blokT;
}
.blok-wendy {
	grid-area: blokW;
}
.blok-profiles {
	display: grid;
	/*grid-gap: 20px;*/
	
	/*width: 80%;*/
	height: 500px;
	margin: auto;
	grid-template-areas: 
	'blokD blokP blokT blokW'
}
.blok-profiles a {
	background-color: #3562FF;
	width: 360px;
	height: 300px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	margin: auto;
}
.blok-profiles .profiles img {
	width: 100%;
	height: auto;
	transition: width 2s, height 2s, transform 2s;
}
.blok-profiles .profiles img:hover {
    animation: shake 1s;

}

.blok-profiles a h2 {
	font-size: 30px;
	font-weight: bold;
}
.blok-profiles a p {
	font-size: 14px;
	font-weight: lighter;
}

.blok-profiles a h2, .blok-profiles a p {
	color: white;
}

.profiles {
	margin-top: -20%;
}

.dot{
	display: none;
}

/*slider voor mobiel*/

.prev, .next {
  display: none;
}
.dot {
  display: none;
  }


 @media only screen and (max-width: 600px) {
 
	 .prev, .next {
	  display: block;
	}
	.dot {
	  display: block;
	}

	.frontpage {
	    max-width: 1000px;
	    position: relative;
	    margin: auto;
	}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.hover-text-dave, .hover-text-ploy, .hover-text-tim, .hover-text-wendy  {
	position: absolute;
	transition: 0.5s ease;
	opacity: 1;
  	text-align: center;
  	width: 375px;
  	
}

.hover-text-dave img.dave, .hover-text-ploy img.ploy, .hover-text-tim img.tim, .hover-text-wendy img.wendy {
	width: 76px;
	height: auto;
	padding: 0px;
}

.frontpage h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
}
.frontpage p {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 35px;
	padding: 0;
}

.hover-text-dave, .hover-text-ploy, .hover-text-tim, .hover-text-wendy {
	top: 80%;
	left: 50%;
}


.image-dave, .image-ploy, .image-tim, .image-wendy {
	opacity: 0.5;
	
}
.hover-text-dave {
	max-width: 425px;
	height: auto;
}

/*over minor en deelnemers*/
.content-home{
	height: 2000px;
}
.about-minor p {
	padding-top: 2%;
}
.about-minor h1, .deelnemers h1 {
	font-weight: bold;
	font-size: 30px;
	text-align: left;
}
.about-minor p, .deelnemers p {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	width: 100%;
	padding: 0;
}
.about-minor p {
	padding-top: 5%;
}
.deelnemers p.p-deelnemers {
	padding-top: 5%;
}

.line1-about, .line1-deelnemers {
	width: 70%;
}
.line2-about, .line2-deelnemers {
	width: 25%
}
.line-about, .line-deelnemers {
	margin:0;
	width: 60%;
}
.ruimte-deelnemers {
	padding-top: 10%;
}
/*blok-profiles*/

.blok-profiles {
	display: grid;
	
	margin: auto;
	grid-gap: 30px;
	padding-top: 10%;
	grid-template-areas: 
	'blokD' 
	'blokP' 
	'blokT'
	'blokW'
}
.blok-profiles a {
	width: 315px;
	height: 300px;

}
.footer{
		
		grid-template-areas: 
		'footer1' 
		'footer2' 
		'footer3' 
		'footer4' 
		'footer5';
	}



/*buttons mobiel ik heb nog een class toegevoegd in html*/
.a {
	grid-area: terug;
}
.b {
	grid-area: home;
}
.c {
	grid-area: verder;
}
.button {
	display: grid;
	margin-top: 50px;
	grid-template-areas: 
	'home home home'
	'terug . verder';
}
.buttons {
	width: 144px;
}
.home {
	width: 340px;
}

/*button bij de deliverables*/
.button-white {
	margin-top: 20px;
}
}


/* On smaller screens, decrease text size */
/*@media only screen and (max-width: 300px) {
  .prev, .next,.text {
    font-size: 11px;
  }
}*/
