* {

}


/*Header details for every page*/
.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
	margin: 0px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 15px;
	line-height: 25px;
	border-radius: 4px;
}

/*Details logo*/
.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

/*Details menu section*/
.header a:hover {
	background-color: #ddd;
	color: black;
}

.header a.active {
	text-decoration: underline;
	color: black;
}

.header-right {
	float: right;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	padding: 10px;
}

.grid-container > div {
	text-align: center;
	padding: 20px 0px;
}

.main {
	grid-column: 1 / 5;
}

.minor {
	grid-column: 1 / 5;
}

.deelnemers {
	grid-column: 1 / 5;
}

