.navbar {
  overflow: hidden;
  background-color: #3562FF;
/*  float: right;*/
}


.navbar a {

  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 40px 10px 16px;
  text-decoration: none;
  font-weight: 500;

}

#navbar-right{
  float: right;
  margin: auto;
  margin-top: 20px;
}

.logo1{
  height: 0%;
  padding: 0%;
}

.navbar a:hover{
  text-decoration: underline;

}



/*.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #1F4FFF;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/
/*@media only screen and (max-width: 768px) {
  body{
    width: 70%;
  }
  h1{
    color: red;
  }
  h2{
    font-weight: bold;
    font-size: 30px;
    font-family: roboto;
    color: #ffffff;
  }
}*/


.navbar-right {
  overflow: hidden;
}

.navbar-right a {
  float: left;n
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width: 600px) {
   /*hamburger deel*/
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    float: right;
    display: block;
    font-size: 40px;
    text-decoration: none;
    padding: 0px 20px 0px;
    margin: 0px 0px;
  }

  /*header*/

}


@media screen and (max-width: 600px) {
  /*hamburger responsive deel*/
  .navbar-right.responsive {
    margin-top: 0px;
    padding: 0px 20px;
    height: 240px;
    
  }
  .navbar-right.responsive .icon {
    position: absolute;
    right: 108px;
    top: 20px;

  }
  .navbar-right.responsive a {
    float: none;
    display: block;
    text-decoration: none;
  }
  
}

