.navbar {
  overflow: hidden;
  background-color: #3562FF;
/*  float: right;*/
  position: absolute;
  z-index: 2;
  width: 100%;
}


.navbar a {

  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 40px 10px 16px;
  text-decoration: none;
  font-weight: 500;

}

#navbar-right{
  float: right;
  margin: auto;
  margin-top: 20px;
}

.logo1{
  height: 0%;
  padding: 0%;
}

.navbar a:hover{
  text-decoration: underline;

}

.navbar-right {
    float: right;
    padding-top: 1.5%;
    padding-right: 1.5%;
}

.navbar-right a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-right .icon {
  display: none;
}

@media screen and (max-width: 600px) {
   /*hamburger deel*/
  .navbar-right a {
    display: none;
  }
  .navbar-right a.icon {
    float: right;
    display: block;
    font-size: 40px;
    text-decoration: none;
    padding: 4px 25px 0px 0px;
  }

  /*header*/

}


@media screen and (max-width: 600px) {
  /*hamburger responsive deel*/
  .navbar-right.responsive {
    padding-top: 1.5%;
    padding-right: 1.5%;
    margin-top: 40%;
    height: 640px;
    float: none;
    
  }
  .navbar-right.responsive .icon {
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 0;

  }
  .navbar-right.responsive a {
    font-size: 20px;
    line-height: 18px;
    padding: 25px;
    float: none;
    display: block;
    text-decoration: none;
  }
  
}

