
.wrapper {
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
	/*padding: 10px;*/
}

.wrapper > div {
	padding: 40px 10px;
	/*background-color: #f1f1f1;*/
}

