.header-box {
	position: absolute;
	background-color: rgba(23,23,23,0.3);
	width: 700px;
	height: 1000px;
	top: 89px;
	right: 0;


}
header img {
	object-fit: cover;
/*	position: absolute;*/
	width: 100%;
	height: 1000px;
	left: 0px;
	top: 80px;
}

.header-box-tekst .img {
	width: 150px;
	height: 150px;
}

.imgdavepf{
	width: 150px;
	height: 150px;
	border: white;
	border-width: 1px;
    border-style: solid;
    border-radius: 100px;
}


.header-box-tekst .img {
	width: 150px;
	height: 150px;
}


.header-box-tekst {
	width: 600px;
	height: 500px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: roboto;
	
}
.header-box-tekst h1 {
	font-family: roboto;
	font-weight: bold;
	font-size: 60px;
	color: white;

}
.header-box-tekst p {
	margin: 20px;
	font-family: roboto;
	font-weight: lighter;
	font-size: 40px;
	color: white;
}
.header-blok-tekst {
	width: 100%;
	height: 20%;
	background-color: #3561FF;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: roboto;
	
}
.header-blok-tekst h1 {
	padding-top: 2%;
	font-family: roboto;
	font-weight: bold;
	font-size: 60px;
	color: white;

}
.header-blok-tekst p {
	font-family: roboto;
	font-weight: lighter;
	font-size: 40px;
	color: white;
	padding-bottom: 2%;
}
.arrow-down {
	/*position: absolute;*/
	width: 97px;
	height: 97px;
	left: 35%;
	top: 100%;
}
.header-box-tekst a {
	left: 50%;
	top: 70%;
}

.box1 {
	
}
* {
	font-family: roboto;
}
.h1-intro, .h1-works, .h1-visual {
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	margin-top: 0;
}
.p-intro, .p-works, .p-visual  {
	font-weight: 300;
	font-size: 20px;
	margin: auto;
	width: 730px;
	padding: 10px;
	letter-spacing: 1px;
    line-height: 30px;

}
.line-intro, .line-works, .line-port, .line-visual {
	box-sizing: border-box;
	width: 30%;
	margin: auto 28%;

}

.line1, .line-works-1, .line-visual-1 {
	width: 80%;
	float: left;
	border: 3px solid #3561FF;
	

}
.line2, .line-works-2, .line-visual-2 {
	width: 15%;
	float: right;
	border: 3px solid #3561FF;
	
}

.ruimte-intro, .ruimte-works, .ruimte-visual  {
	padding: 4%;
	padding-top: 8%;
}

.works {
	/*height: 600px;*/
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}

.worksdave {
	height: 760px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}

.worksdave {
	height: 760px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}

.workswendy {
	height: 970px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}

.workswendy1 {
	height: 780px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
	top: 20px;
}

.h1-works, .p-works {
	color: white;
}
.line-works-1, .line-works-2  {
	border: 3px solid white;
}
.blokphoto{
	width: 450px;
	height: 300px;
}

.visualisaties {
	height: 600px;
	top: 20px;
}


.blok-1 {
	grid-area: blokEen;
}
.blok-2 {
	grid-area: blokTwee;
}
.blok-3 {
	grid-area: blokDrie;
}
.blokken {
	padding: 4%;
	width: 80%;
	margin: auto;
	display: grid;
	grid-gap: 50px;
	grid-template-areas: 
	'blokEen blokTwee blokDrie';
}
.blokken a {
	background-color: #3562FF;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	height: 315px;
	width: 358px;
}
.blokken a img {
	width: 100%;
	height: 201px;
	object-fit: cover;
}
.blokken a h2 {
	font-size: 30px;
	font-weight: bold;
}
.blokken a p {
	font-size: 20px;
	font-weight: lighter;
}
.blokken a h2, .blokken a p {
	color: white;
	padding-top: 10px;
}


.portfolio {
	background: #0038FF;
	box-shadow: 15px 10px 50px rgba(0, 56, 255, 0.8);
	color: white;
}
.tekst h1 {
	font-size: 60px;
	font-weight: bold;
}
.tekst p {
	font-size: 20px;
	font-weight: lighter;
}
.tekst {
	grid-area: tekst;
	margin-right: 25%;
}
.knop {
	grid-area: knop;
	width: 340px;
	height: 50px;
	margin: auto;
	margin-right: 150px;
}
.portfolio {
	margin: 12% 5% 12% 5%;
	padding: 4%;
	padding-right: 0;
	display: grid;
	grid-template-areas: 
	'tekst knop knop knop';
}
.portfolio button {
	border: 0px solid white;
	border-radius: 5px;
	font-weight: 500;
	font-size: 20px;
	color: #0038FF;

}
.line-port {
	margin: 0px;
	width: 60%;
}
.line-port-1 {
	width: 80%;
	float: right;
	border: 3px solid #3561FF;
}
.line-port-2 {
	width: 15%;
	float: left;
	border: 3px solid #3561FF;
}


.line-port-1, .line-port-2 {
	border: 3px solid white;
}

/*Animated arrow section*/
.arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/*blok photos met tekst*/

.photo1{
	grid-area: photo1;
}
.photo2{
	grid-area: photo2;
}
.photo3{
	grid-area: photo3;
}
.photo4{
	grid-area: photo4;
}
.photo5{
	grid-area: photo5;
}
.photo6{
	grid-area: photo6;
}
.photo7{
	grid-area: photo7;
}
/*.blok-photos{

	display: grid;
	grid-gap: 50px;
	grid-template-areas: 
	'photo1	photo1'
	'photo2	photo3'
	'photo4	photo5'
	'photo6	photo7';
}*/


/*flexbox photos Dave vv */

.flex-container{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;	
    margin: 0px
	padding: 0px;
	list-style: none;

	align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.flex-item{
	margin-left: 10px;
	margin-right: 10px;
}

/*flexbox photos Dave ^^*/


.photo7 .artphoto {
	width: 400px;
	height: auto;
	
}
.photo7 img {
	margin: auto;
}

.blok-photos img{
	width: 605px;
	height: 340px;
	object-fit: cover;
}
.photo1 img{
	width: 1249px;
	height: auto;
}

.blok-photos-tim{
	margin: auto;
	display: flex;
	grid-gap: 50px;
	align-items: center;
	justify-content: center;
	grid-template-areas: 'photo1-tim photo2-tim';
}

iframe{
	width: 560px;
	height: 315px;
}

.title{
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 32px;
margin: 40px 0px 20px 0px;
}

.photo1-tim{

	grid-area: photo1-tim;
}
.photo2-tim{

	grid-area: photo2-tim;
}

.photo1-blok2{
	grid-area: photo1-blok2;
	padding: 10px;
}

.photo2-blok2{
	grid-area: photo2-blok2;
	padding: 10px;
}
.blok2-photos{
	padding: 50px;
	display: grid;
	grid-template-areas: 
	'photo1-blok2 photo2-blok2';
}
.p-youtube{
	font-weight: 300;
	width: 560px;
}
/*blok 2 photos*/
.blok2-photos{
	margin: auto;
/*	grid-gap: 50px;*/
	display: flex;
	align-items: center;
  	justify-content: center;
	/*grid-template-areas: 
	'photo1-blok2 photo2-blok2';*/

}
.photo1-blok2{
	grid-area: photo1-blok2;
	height: 500px;
}
.photo2-blok2{
	grid-area: photo2-blok2;
	height: 500px;
}
.blok2-photos img{
		width: 605px;
	height: 340px;
}
.photo1-2{
	grid-area: photo1-2;
}
.photo2-2{
	grid-area: photo2-2;
}
.photo3-2{
	grid-area: photo3-2;
}
.photo4-2{
	grid-area: photo4-2;
}
.photo5-2{
	grid-area: photo5-2;
}
.photo6-2{
	grid-area: photo6-2;
}
.photo7-2{
	grid-area: photo7-2;
}
/*end blok 2 tim photos*/

/*blok 3 tim*/
.blok-photos-blok3-tim{
	padding-top: 50px;
	margin: auto;
	grid-gap: 50px;
	display: grid;
	grid-template-areas: 
	'blok3-1-tim blok3-2-tim'
	'blok3-3-tim blok3-4-tim';
}
.blok3-1-tim{
	grid-area: blok3-1-tim;
}
.blok3-2-tim{
	grid-area: blok3-2-tim;
}
.blok3-3-tim{
	grid-area: blok3-3-tim;
}
.blok3-4-tim{
	grid-area: blok3-4-tim;
}
/*end blok 3 tim*/

/*blok 3 ploy*/
.blok3-1{
	grid-area: blok3-1;
}
.blok3-2{
	grid-area: blok3-2;
}
.blok3-3{
	grid-area: blok3-3;
}
.blok3-4{
	grid-area: blok3-4;
}
.blok3-5{
	grid-area: blok3-5;
}
.blok3-6{
	grid-area: blok3-6;
}
.blok3-7{
	grid-area: blok3-7;
}
.blok3-8{
	grid-area: blok3-8;
}
.blok3-9{
	grid-area: blok3-9;
}
.blok3-10{
	grid-area: blok3-10;
}
.blok3-11{
	grid-area: blok3-11;
}
.blok3-12{
	grid-area: blok3-12;
}

.blok-photos-blok3{
	padding-top: 75px;
	margin: auto;
	display: grid;
	grid-gap: 50px;
	grid-template-areas: 
	'blok3-1 blok3-2 blok3-3'
	'blok3-4 blok3-5 blok3-6'
	'blok3-7 blok3-8 blok3-9'
	'blok3-10 blok3-11 blok3-12';

}
/*nieuwe button blauw*/
.button-blue {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons-blue {
	width: 340px;
	height: 50px;
	background-color: #3562FF;
	color: white;
	border-style: none;
	margin: 20px;
	font-size: 20px;

}
/*blok 1 visual regels 361*/
.blok-photos{
	display: grid;
	justify-content: center;
	grid-gap: 50px;
	grid-template-areas: 
	'photo1	photo1'
	'photo2	photo3'
	'photo4	photo5'
	'photo6	photo7';
}
/*dit bestaat nog niet buiten @media(600)*/
.blok-photos-blok3 img{
	width: 100%;
}

.blok-photos p {
	width: 605px;
}
.photo1 p {
	width: 1249px;
}

.blok-photos div {
	/*margin: auto;*/
}

/*end blok 3 ploy*/

@media only screen and (max-width: 600px) {
/*Ploy page*/
h1 {
	font-size: 30px;
}
p {
	font-size: 14px;
}

.header-box {
    width: 100%;
    height: 200px;
    top: 450px;
    position: absolute; /*menu*/
    z-index: 1; /*menu*/
}
.header-po {
	width: fit-content;
	top: 90%;
	padding-left: 0;
	padding-right: 0;
}
.header-po p {
	display: table-cell;
	font-size: 16px;
	padding: 10px;
}
.arrow {
	bottom: 22%;
}
.worksploy {
	height: 320px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
}
/*blok 1*/
.header-blok-tekst {
	width: 100%;
	top: 85%;
	height: 15%;
	
}

/*foto responsive*/
img.behind {
	object-fit: cover;
}
/* ploy blok 1 intro stuk*/
.p-intro {
	padding: 0;
	padding-top: 5%;
}
.line1 {
	width: 70%;
}
.line2 {
	width: 25%
}
.line-intro {
	margin: 0;
	width: 45%;
}
/*ploy blok 1 works*/
.p-works {
	padding: 0;
	padding-top: 5%;
}
.line-works-1 {
	width: 70%;
}
.line-works-2 {
	width: 25%;
}
.line-works {
	margin: 0;
	width: 45%;
}
/*ploy blok 1 visualisatie*/
.p-visual {
	padding: 0;
	padding-top: 5%;
	letter-spacing: 0.5px;
	line-height: 25px;
}
.line-visual-1 {
	width: 70%;
}
.line-visual-2 {
	width: 25%;
}
.line-visual {
	margin: 0;
	width: 45%;
}
.button-blue {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons-blue {
	width: 340px;
	height: 50px;
	background-color: #3562FF;
	color: white;
	border-style: none;
	margin: 20px;
	font-size: 20px;

}
.blok-photos {

	margin: 0;
	margin-left: 0;
	margin-top: 5%;
	display: grid;
	grid-template-areas: 
	'photo1'
	'photo2'
	'photo3'
	'photo4'
	'photo5'
	'photo6'
	'photo7';
}
.blok-photos img {
	object-fit: cover;
	width: 336px;
	height: auto;
}
.photo1 img {
	width: 336px;
	height: auto;
}
.photo7 .artphoto {
	width: 336px;
}

.blok-photos p {
	width: 336px;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
}
div .blok-photos .title {
	font-size: 20px;
	
}
.header-blok-tekst h1 {
	font-size: 30px;
}
.header-blok-tekst p {
	font-size: 20px;
}
/*blok 2 ploy*/
.blok2-photos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.photo1-blok2 iframe, .photo2-blok2 iframe {
	width: 340px;
}
.photo1-blok2 p, .photo2-blok2 p {
	width: 340px;
}
/*blok 1 tim*/
.blok-photos-tim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.photo1-tim iframe, .photo2-tim iframe {
	width: 340px;
}
.photo1-tim p, .photo2-tim p {
	width: 340px;
}
/*blok 3*/
.blok-photos-blok3{
	padding-top: 75px;
	margin: auto;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	grid-template-areas: 
	'blok3-1 blok3-2' 
	'blok3-3 blok3-4' 
	'blok3-5 blok3-6'
	'blok3-7 blok3-8' 
	'blok3-9 blok3-10' 
	'blok3-11 blok3-12';

}


/*tim page*/
.header-tim {
	width: fit-content;
	top: 90%;
	padding-left: 0;
	padding-right: 0;
}
.header-tim p {
	display: inline;
	font-size: 16px;
	padding: 35px;
	margin: 0;
}
.workstim {
	height: 320px;
	background: linear-gradient(259.96deg, #3561FF 69.37%, rgba(53, 97, 255, 0.4) 98.64%);
}

.header-box-tekst .img {
    width: 75px;
    height: 75px;
}
.header-box-tekst h1 {
    font-size: 30px;
}
 
/*.header-box-tekst p {
    font-size: 20px;
}*/
.h1-intro, .h1-works, .h1-visual {
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
}
.p-intro, .p-works, .p-visual {
    font-size: 14px;
    margin: auto;
    width: auto;
    line-height: 20px;
}
.blokken {
  	padding-top: 4%;
    width: 100%;
    /*margin: auto;*/
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    grid-template-areas:
    'blokEen' 
    'blokTwee' 
    'blokDrie';
}
.portfolio {
    margin: 265% 5% 12% 5%;
    padding: 4%;
    padding-right: 0;
    display: grid;
    grid-template-areas: 
    'tekst' 
    'knop';
}

.tekst h1 {
    font-size: 30px;
}
.tekst p {
    font-size: 14px;
    width: 85%;
    padding-top: 5%;
}
.portfolio button {
    width: 300px;
    margin-top: 5%;
}
header img {
	height: 650px;
}
.line-intro, .line-works, .line-port, .line-visual {
    box-sizing: border-box;
    width: 60%;
    margin: auto 0%;
}
.line2, .line-works-2, .line-visual-2 {
   /* width: 49px;*/
    box-sizing: border-box;
    /*margin: auto -20%;*/
}

/*tim page blok 1*/
.header-blok-tekst h1 {
	margin-top: 25px;
    font-size: 30px;
}
/*.header-blok-tekst {
	top: 94%;
}*/
.header-blok-tekst p {
    font-size: 20px;

}
/*.header-blok-tekst {
    width: 100%;
    height: 15%;
}*/
}
